<h1>Enviar Backup da Conversa</h1>
<h3> Selecione o arquivo de backup do whatsapp em txt :</h3>
<form method="post" enctype="multipart/form-data" action="/upload">
    <input type="file" name="backup">
    <input type="submit" value="upload">
</form>